<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.letscook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <queries>
        <!-- Specific apps you interact with, eg: -->
        <package android:name="com.example.letscook.view.profile" />
        <!-- Specific intents you query for, eg: for a custom share UI -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/jpeg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CAMERA_BUTTON" />
            <data android:mimeType="image/jpeg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MEDIA_BUTTON" />
            <data android:mimeType="image/jpeg" />
        </intent>
    </queries>

    <application
        android:name="androidx.multidex.MultiDexApplication"

        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">

        <activity
            android:name=".view.slider.SliderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.register.SignUpActivity"
            android:theme="@style/Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".view.home.MainActivity"
            android:theme="@style/MainTheme">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.home.MainActivity" />
        </activity>
        <activity
            android:name=".view.login.LoginActivity" />
        <activity
            android:name=".view.search.WhatToCookActivity"
            android:parentActivityName=".view.home.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".view.info.TermsOfUseActivity"
            android:parentActivityName=".view.home.MainActivity" />
        <activity
            android:name=".view.products.ShoppingListActivity"
            android:parentActivityName=".view.home.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".view.ContactsActivity"
            android:parentActivityName=".view.home.MainActivity" />
        <activity
            android:name=".view.AddRecipeActivity"
            android:parentActivityName=".view.home.MainActivity" />
        <activity
            android:name=".view.products.MyProductsActivity"
            android:parentActivityName=".view.home.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".view.info.InfoActivity"
            android:parentActivityName=".view.home.MainActivity" />
        <activity
            android:name=".view.search.SearchActivity"
            android:parentActivityName=".view.home.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".view.profile.ProfileActivity"
            android:parentActivityName=".view.home.MainActivity" />
        <activity
            android:name=".view.recipesDashboard.RecipesActivity" />
        <activity
            android:name=".view.recipeDetails.RecipeActivity"
            android:keepScreenOn="true"
            android:parentActivityName=".view.recipesDashboard.RecipesActivity" />
        <activity
            android:name=".view.info.DataPolicyActivity"
            android:parentActivityName=".view.home.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

    </application>

</manifest>