<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.letscook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <queries>
        <!-- Specific apps you interact with, eg: -->
        <package android:name="com.example.letscook.controller.profile" />
        <!-- Specific intents you query for, eg: for a custom share UI -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/jpeg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CAMERA_BUTTON" />
            <data android:mimeType="image/jpeg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MEDIA_BUTTON" />
            <data android:mimeType="image/jpeg" />
        </intent>
    </queries>

    <!--
    android:name="androidx.multidex.MultiDexApplication"
    -->
    <application
        android:name=".controller.AppController"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/MainTheme"
        android:usesCleartextTraffic="true">
        <receiver android:name=".server_database.NetworkMonitor">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".controller.slider.SliderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.register.SignUpActivity"
            android:theme="@style/Register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".controller.home.MainActivity"
            android:theme="@style/MainTheme">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.home.MainActivity" />
        </activity>
        <activity
            android:name=".controller.login.LoginActivity" />
        <activity
            android:name=".controller.search.WhatToCookActivity"
            android:parentActivityName=".controller.home.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".controller.info.TermsOfUseActivity"
            android:parentActivityName=".controller.home.MainActivity" />
        <activity
            android:name=".controller.products.ShoppingListActivity"
            android:parentActivityName=".controller.home.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".controller.contacts.ContactsActivity"
            android:parentActivityName=".controller.home.MainActivity" />
        <activity
            android:name=".controller.addRecipe.AddRecipeActivity"
            android:parentActivityName=".controller.home.MainActivity" />
        <activity
            android:name=".controller.products.MyProductsActivity"
            android:parentActivityName=".controller.home.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".controller.info.InfoActivity"
            android:parentActivityName=".controller.home.MainActivity" />
        <activity
            android:name=".controller.search.SearchActivity"
            android:parentActivityName=".controller.home.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".controller.profile.ProfileActivity"
            android:parentActivityName=".controller.home.MainActivity" />
        <activity
            android:name=".controller.recipesDashboard.RecipesActivity" />
        <activity
            android:name=".controller.recipeDetails.RecipeActivity"
            android:keepScreenOn="true"
            android:parentActivityName=".controller.recipesDashboard.RecipesActivity" />
        <activity
            android:name=".controller.info.DataPolicyActivity"
            android:parentActivityName=".controller.home.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

    </application>

</manifest>